main {
  display: flex;
  height: 100vh;
}

main div {
  width: 50%;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-left form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.btn-cancel {
  margin-top: 8px;
}

.btn-register {
  margin-top: 5.2em;
}

.container-left form h2 {
  margin: 0 0 32px 0;
  text-align: center;
  font-size: 2.4em;
}

.login-link {
  display: flex;
  justify-content: center;
  width: 400px;
  margin-top: 5.6em;
  font-size: 1.4rem;
}

.login-link span {
  margin-left: 10px;
}

@media only screen and (max-width: 846px) {
  .container-left form {
    width: 80%;
  }

  .container-left {
    min-width: 100vw;
  }

  .login-link {
    font-size: 1.2rem;
  }
}
